BasedOnStyle: WebKit
ColumnLimit: 80
IndentWidth: 4

AlignAfterOpenBracket: Align
AlignArrayOfStructures: Left
AlignEscapedNewlines: true
AlignOperands: true
AllowShortFunctionsOnASingleLine: false
AlignTrailingComments: true
AlignTrailingComments: true
BreakBeforeBraces: Allman
IndentCaseLabels: false

AlignConsecutiveAssignments:
    Enabled: true
    AcrossComments: true
    AcrossEmptyLines: true
    AlignCompound: true

AlignConsecutiveMacros:
    Enabled: true
    AcrossComments: true
    AcrossEmptyLines: true

BraceWrapping:
  AfterEnum: false  
